{% extends 'base.html.twig' %}
{% block body %}


    <!------ Include the above in your HEAD tag ---------->
    <script src="javascript/commentSaMarche.js"></script>
    <link  rel="stylesheet" href="css/commentSaMarche.css">

    <div class="container "id="commentSaMarche">
       <!------ Include the above in your HEAD tag ---------->

        <div class="container" id="pageAccueil">
            <div id="titre">
                <img src="{{ asset('images/commentcamarche.png') }}" width="80%">
                <h4 style="margin-top: 20px; color: #082a1d">Vous voulez transporter ou expédier un colis ?</h4>
                <h5 style="color: #082a1d">
                    Pour en savoir un peux plus<br/>
                    Consulter la rubrique qui vous concerne
                </h5>
            </div>

            <h3 style="text-align: left;margin-bottom: 20px; color:#6b1f33"><i>Transporteur :</i></h3>

            <div class="how-section1">
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Informations Générales</h4>
                        <h6 style="color: #082a1d; text-align: justify">Indiquez la date, la destination et l'horaire de votre voyage,
                            puis la quantité et poids du colis que vous consentez à transporter.</h6>
                        <hr style="border-width: 2px; border-color: green">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Point de Contact</h4>
                        <h6 style="color: #082a1d">L’expéditeur réserve en ligne via la plateforme « JibColis »
                            et vous êtes prévenu(e) par e-mail à chaque nouvelle réservation.
                            Ensuite vous échangez avec votre expéditeur
                            par téléphone pour régler les derniers détails relatifs à l’expédition de votre colis. </h6>
                        <hr style="border-width: 2px; border-color: green">
                    </div>
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Choix du Contact.</h4>
                        <h6 style="color: #082a1d; text-align: justify">Consultez le profil qui vous correspond le mieux et vérifiez les informations concernant
                            l’expéditeur. Si vous voulez des précisions sur la nature de l’expédition, la plateforme «JibColis»
                            vous offre l’opportunité de rentrer en contact avec lui par téléphone ou par e-mail.</h6>
                        <hr style="border-width: 2px; border-color: green">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Sécurité et Confiance</h4>
                        <h6 style="color: #082a1d; text-align: justify">Convenez d'un lieu et d'une heure de rendez-vous avec l'expéditeur,
                            puis demandez à voir sa pièce d'identité et assurez-vous que les informations qui y
                            figurent concordent avec celles apposées sur le contrat. Vérifiez le contenu du colis et contrôlez,
                            en compagnie de l’expéditeur, les coordonnées exactes du destinataire du colis.
                            Signez la déclaration de confiance (imprimable) sur le site et faites-le signer par l’expéditeur.
                            Vous pouvez enfin prendre en charge l’envoi du colis </h6>
                        <hr style="border-width: 2px; border-color: green">
                    </div>
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Remise de Colis</h4>
                        <h6 style="color: #082a1d; text-align: justify">
                            Lorsque vous arrivez au lieu de destination contractuellement convenu :
                            vous remettez le colis de main à main – remise en propres et sans intermédiaire(s)
                            - accompagné de la déclaration de confiance en mentionnant votre nom et prénom.
                            Le destinataire doit également, à son tour, vérifier si le contenu du colis correspond à ce qui a
                            effectivement et contractuellement été convenu entre l’expéditeur et le transporteur.
                            Il peut ensuite signer la déclaration de confiance et indiquer qu’il a effectivement bien réceptionné
                            le colis – et éventuellement y formuler des réserves. Vous recevrez votre indemnité de participation
                            uniquement après remise en mains propres au destinataire du colis.
                        </h6>
                        <hr style="border-width: 2px; border-color: green">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Indemnité et Paiement</h4>
                            <h6 style="color: #082a1d; text-align: justify">
                                L’indemnité de participation proposée par le transporteur-voyageur doit être moins
                                chère que les tarifs d’usage en vigueur proposés par les services marchands proposant
                                des expéditions par voie traditionnelle. Cette indemnité demeure cependant libre et doit être établie
                                d’un commun accord entre les deux parties contractantes.
                            </h6>
                            <hr style="border-width: 2px; border-color: green">
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>
                </div>

            </div>







            <h3 style="text-align: left;margin-bottom: 20px;color:#6b1f33"><i>Expiditeur :</i></h3>



            <div class="how-section1">
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Informations Générales</h4>
                        <h6 style="color: #082a1d; text-align: justify">
                            Entrez le lieu de départ et de destination de votre colis, la date d’expédition,
                            le type de votre colis (voir conditions) ainsi que son poids. Choisissez ensuite parmi
                            les transporteurs-voyageurs proposant un trajet à proximité du lieu d’expédition de votre colis,
                            ce qui maximisera la certitude d’une remise rapide de votre colis et d’une remise en mains propres.
                        </h6>
                        <hr style="border-width: 2px; border-color: #9f5811">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Point de Contact</h4>
                        <h6 style="color: #082a1d">Consultez le profil qui vous correspond
                            et vérifiez les informations concernant le transporteur-voyageur.
                            Si vous voulez des précisions sur votre transporteur-voyageur, la plateforme «JibColis» vous offre
                            l’opportunité de rentrer en contact avec lui par téléphone et/ou par émail. </h6>
                        <hr style="border-width: 2px; border-color: #9f5811">
                    </div>
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Choix du Contact.</h4>
                        <h6 style="color: #082a1d; text-align: justify">
                            ndiquez sur votre colis le nom, prénom, et le numéro de téléphone
                            de votre récepteur: celui-ci sera mis en contact
                            avec le transporteur-voyageur, une fois la destination est atteinte.
                        </h6>
                        <hr style="border-width: 2px; border-color: #9f5811">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Sécurité et Confiance</h4>
                        <h6 style="color: #082a1d; text-align: justify">
                            La démarche proposée par notre site pour assurer la bonne expédition
                            de votre colis consiste en un suivi d’étapes simples mais néanmoins déterminantes.
                            Convenez d'un lieu et d'une heure de rendez-vous avec l'expéditeur, puis demandez à
                            voir sa pièce d'identité et assurez-vous que les informations qui y figurent concordent
                            avec celles figurant sur la déclaration de confiance. Assurez vous de renseigner les bonnes
                            informations concernant le destinataire et vérifiez avec l’expéditeur le contenu du colis.
                            Signez la déclaration de confiance (imprimable)
                            sur le site et faites-le signer par l’expéditeur, puis remettez votre colis.
                        </h6>
                        <hr style="border-width: 2px; border-color: #9f5811">
                    </div>
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 how-img">
                        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>Remise de Colis</h4>
                        <h6 style="color: #082a1d; text-align: justify">
                            L’indemnité de participation proposée par le transporteur-voyageur
                            doit être moins chère que les tarifs d’usage en vigueur proposés
                            par les services marchands proposant des expéditions par voie traditionnelle.
                            Cette indemnité demeure cependant libre et doit être établie
                            d’un commun accord entre les deux parties contractantes.
                        </h6>
                        <hr style="border-width: 2px; border-color: #9f5811">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}