{% extends 'base.html.twig' %}

{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ajoutColis.css') }}">


    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img id="imgCreate" src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Bonjour</h3>
                <p>MERCI DE BIEN VOULOIR REMPLIR LE FORMULAIRE SVP ! </p>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Transporter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">J'éxpédier</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Je Transporte un Colis</h3>
                        <div class="row register-form">
                            {{ form_start(form) }}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled name="_poids">Choisir La Taille Du COLIS</option>
                                        <option>Moins de 1kg</option>
                                        <option>De 1kg a 3kg</option>
                                        <option>De 3kg a 5kg</option>
                                        <option>Pus  de  5kg</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Pays Départ" name="_paysDepart" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Pays Destination" name="_PaysDestination" />
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled name="_villeDepart">Ville de Départ</option>
                                        <option>Alger</option>
                                        <option>Oran</option>
                                        <option>Bejaia</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled name="_villeArrive">Ville d'arrivée</option>
                                        <option>Alger</option>
                                        <option>Oran</option>
                                        <option>Bejaia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="maxl col-md-8">
                                    <label class="radio inline">
                                        <input type="checkbox" name="gender" value="male" checked>
                                        <span> Veuillez vérifier si une Ordonnance est Obligatoire </span><br/>
                                    </label>
                                    <label class="radio inline">
                                        <input type="checkbox" name="gender" value="female">
                                        <span>Veuillez vérifier si l'objet et légalement transportable </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="checkbox" name="gender" value="female">
                                        <span>J’ai lu et j’accepte les conditions générales  (UGC) </span>
                                    </label>
                                    <div class="">  <input type="submit" class="btnRegister"  value="Enregistrer"/></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <textarea type="text"for class="form-control" rows="4"  placeholder="Description" name="_description" style="margin-left: -30px"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">J'expédie un Colis</h3>
                        <div class="row register-form">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled>Choisir La Taille Du COLIS</option>
                                        <option>Moins de 1kg</option>
                                        <option>De 1kg a 3kg</option>
                                        <option>De 3kg a 5kg</option>
                                        <option>Pus  de  5kg</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Pays Départ" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Pays Destination" value="" />
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span><input type="date" class="form-control" placeholder="" value="" /></span>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled>Ville de Départ</option>
                                        <option>Alger</option>
                                        <option>Oran</option>
                                        <option>Bejaia</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden"  selected disabled>Ville d'arrivée</option>
                                        <option>Alger</option>
                                        <option>Oran</option>
                                        <option>Bejaia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="maxl col-md-8">
                                    <label class="radio inline">
                                        <input type="checkbox" name="gender" value="female">
                                        <span>J’ai lu et j’accepte les conditions générales  (UGC) </span>
                                    </label>
                                    <div class="">  <input type="submit" class="btnRegister"  value="Enregistrer"/></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <textarea type="text"for class="form-control" rows="4"  placeholder="Description" value=""></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}